{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<section class="main">

    <img src="{{ url_for('static', filename='images/icon/music_library.jpg') }}"
         alt="Music Library Logo"
         class="homepage-logo">

    <h1>Music Library</h1>

    <p class="homepage-introduction">
        Welcome to Music Library, a web application where you can browse songs,
        discover artists, and explore music rankings from different regions.
    </p>

</section>

<section class="intro-page">

    <div class="intro-info">

        <h2>Recommended Song</h2>

        <p>Lemon</p>

        <img src="{{ url_for('static', filename='images/songs/Lemon.jpg') }}"
             alt="Lemon"
             class="intro-songs">

    </div>

    <div class="intro-info">

        <h2>Recommended Artist</h2>

        <p>Taylor Swift</p>

        <img src="{{ url_for('static', filename='images/artists/泰勒·斯威夫特(Taylor Swift).jpg') }}"
             alt="Taylor Swift"
             class="intro-artist">

    </div>

</section>

{% endblock %}
