{% extends 'base.html' %}

{% block content %}
<div class="page">
    <h2>Ranking</h2>
    <p>This ranking list is based on the popularity of the singers and songs<br>included on this website on the Internet and in real life.</p>
    <h3>Top 5 Songs</h3>
    <ul>
        {% for song in top_songs %}
            <li>
                <a href="{{ url_for('songs.song_detail', song_id=song.id, source='ranking') }}">
                    {{ song.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
    
    <h3>Top 5 Artists</h3>
    <ul>
        {% for artist in top_artists %}
            <li>
                <a href="{{ url_for('main.artist_detail', artist_id=artist.id, source='ranking') }}">
                    {{ artist.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}