{% extends 'base.html' %}

{% block title %}Songs{% endblock %}

{% block content %}

<div class="back-button-container">
    <a href="{{ url_for('songs.song') }}" class="back-button">
        ← Back to Songs
    </a>
</div>

<section class="page">

    <h2>Songs ({{ range }})</h2>

    <p>
        Select a song to view more information.
    </p>

    <div class="song-grid">

        {% for song in songs %}

        <div class="song-card">

            <a href="{{ url_for('songs.song_detail', song_id=song.id) }}">
                {{ song.title }}
            </a>

        </div>

        {% endfor %}

    </div>

</section>

{% endblock %}
