{% extends 'base.html' %}

{% block content %}
<div>
    <h2 class="page">Select Songs by Range</h2>
    <ul class="container">
        {% for range in ranges %}
        <li><a href="{{ url_for('songs.select_songs', range=range) }}">{{ range }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="image-scroll-container songs-images">
    <div class="image-scroll image-scroll-songs">
        <img src="{{ url_for('static', filename='images/songs/Attention.jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/Bad Guy.jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/DDU-DU DDU-DU.jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/Dynamite.jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/First Love.jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/God\'s Menu.jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/Good Day.jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/Growl.jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/I\'m Yours.jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/Kick It.jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/Lemon.jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/Love so sweet.jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/Next Level.jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/Shake It Off.jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/Shape of You.jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/Single Ladies (Put a Ring on It).jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/Sorry.jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/Thank U, Next.jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/The Beginning.jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/TT.jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/Umbrella.jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/VERY NICE.jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/Viva La Vida.jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/Watermelon Sugar.jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/サヨナラの意味 (Sayonara no Imi).jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/ヘビーローテーション (Heavy Rotation).jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/倔强 (Jue Jiang).jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/吻别 (Wen Bie).jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/夜に駆ける (Yoru ni Kakeru).jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/暧昧 (Ai Mei).jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/李白 (Li Bai).jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/江南 (Jiang Nan).jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/泡沫 (Pao Mo).jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/白日 (Hakujitsu).jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/紅蓮華 (Gurenge).jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/红豆 (Hong Dou).jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/舞娘 (Wu Niang).jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/蝶々結び (Chouchou Musubi).jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/青花瓷 (Qing Hua Ci).jpg') }}"/>
        <img src="{{ url_for('static', filename='images/songs/齐天 (Qi Tian).jpg') }}"/>
    </div>
</div>
{% endblock %}